.container{height:450px; 
	       margin:0px auto; 
	       text-align:center;}

.container h1{font-family:'Akronim',cursive; font-weight:bolder; font-size:70px; 
              color:#8B5D5D;  
              padding-top: 20px; 
              text-align:center;}

.container p{font-family:'Courgette',cursive; font-size:40px; 
             color:#E4508F; 
             padding-left: 250px; margin-bottom:-70px; margin-top:100px;}
